body{background-color: #F3F3F4; }

#wrap{
width: 1900px;
height: auto;
margin: 0px auto;
}

#header{
width: 1900px;
}


#header_title_name{
width: 150px;
height: 50px;
float: left;
text-align: center;
background-color: white;
}

#header_navi_list{
height: 60px;
}

#topNbest{
display: flex;
}






#tsiTagTopFive{
position: relative;
width: 500px;
height: 550px;
top: 50px;
left: 100px;
background-color: white;
}

#tsiTagTopFiveTable{
border : 1px solid;
border-collapse: separate;
border-spacing: 0 20px;
}

#tsiTagTopFive-tabsLeft1 {
    position: absolute;
    margin-left: 20px;
    width: 100px;
    height: 250px;
    left: 5px;
    background-color: yellow;
}

#tsiTagTopFive-tabsLeft2 {
    position: absolute;
    margin-left: 20px;
    width: 100px;
    height: 250px;
    top: 280px;
    left: 5px;
    background-color: red;
}

#tsiTagTopFive-tabsRight1 {
    position: absolute;
    margin-right: 25px;
    width: 320px;
    height: 250px;
    right: 3px;
    background-color: yellow;
}

#tsiTagTopFive-tabsRight2 {
    position: absolute;
    margin-right: 25px;
    width: 320px;
    height: 250px;
    top: 280px;
    right: 3px;
    background-color: red;
}








#commBest{
position: relative;
width: 500px;
height: 550px;
top: 50px;
left: 150px;
background-color: white;
}

#commBest2{
position: absolute;
width: 450px;
height: 500x;
top: 10px;
left: 24px;
background-color: white;
}


#commBestTable{
width: 450px;
/*border-collapse: collapse;*/
border-collapse: separate;
border-spacing: 0 10px;
}



#commBestTableTD1{
width : 30px;
}

#commBestTableTD2{
padding-left: 20px;
padding-right: 20px;
}

#commBestTableSPAN1{
width: 30px;
padding: 2px;
vertical-align: middle;
}
#commBestTableSPAN2{
padding: 2px;
vertical-align: middle;
width: 350px;
}

#commBestTable td[colspan="2"] {
    text-align: center;
}


.hr_dash {
    border-top: 1px dashed #e7eaec;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 5px 0;
}

th, td {
    border-bottom: 1px solid #e7eaec;
    padding: 1px;
}

