#wrap{ width: 1900px; margin: 0px auto}
#header{ width: 1900px; height: 60px;}
#nav{ width: 1900px; height: 250px; padding: 20px 20px 0px 350px; } /* padding  top, right, bottom, left*/
#main{ width: 1900px; padding-left: 350px;}
body{background-color: #F3F3F4; }
#pagination_div{width: 1900px; height: 60px; padding-top: 10px; padding-left: 770px; }
#pagination{ width: 200px;}

#header_title_name{width: 150px; height: 60px; background-color: aquamarine; float: left; text-align: center;}
#header_navi_list {height: 60px;}
#nav_box{background-color: #FFFFFF; width: 1000px; height: 200px; padding: 15px 20px 0px 20px; }
#nav_comm_filter_list{ padding-bottom: 5px; }
#nav_period_filter_list{ padding-bottom: 5px; }
#nav_alg_filter_list{ padding-bottom: 5px; }
#nav_list_search{ }

#main_data_box{background-color: #FFFFFF; width: 1000px; }

#header_title_name_button {
    height: 60px;
    width: 150px;
    background-color: aquamarine;
    border:none; color: white;
    font-size: 25px;
    letter-spacing: 25px;
    font-weight: bold;
}

.hr_dash {
    border-top: 1px dashed #e7eaec;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 5px 0;
}

.btn-rounded {
    border-radius: 50px;
}

.btn-instiz {
    background-color: #28c05e;
    border-color: #28c05e;
    color: #FFF}

.btn-fmkorea {
    background-color: #5176cf;
    border-color: #5176cf;
    color: #FFF}

.btn-clien {
    background-color: #3d4881;
    border-color: #3d4881;
    color: #FFF
}

.btn-bobae {
    background-color: #2671bf;
    border-color: #2671bf;
    color: #FFF
}

.btn-inven {
    background-color: #7ec73e;
    border-color: #7ec73e;
    color: #FFF
}

.btn-mlbpark {
    background-color: #fe5e00;
    border-color: #fe5e00;
    color: #FFF
}
.btn-etoland {
    background-color: #20981D;
    border-color: #20981D;
    color: #FFF
}

.btn-82cook {
    background-color: #37832d;
    border-color: #37832d;
    color: #FFF
}

.btn-humoruniv {
    background-color: #ed1746;
    border-color: #ed1746;
    color: #FFF
}

.rank_bg {
    width: 40px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.s_bg_bobae {
    background-color: #2671bf!important;
}

.s_bg_instiz {
    background-color: #28c05e!important;
}

.s_bg_clien {
    background-color: #3d4881!important;
}

.s_bg_82cook {
    background-color: #37832d!important;
}

.s_bg_etoland {
    background-color: #20981D!important;
}

.s_bg_fmkorea {
    background-color: #5176cf!important;
}

.s_bg_humoruniv {
    background-color: #ed1746!important;
}

.s_bg_inven {
    background-color: #7ec73e!important;
}

.s_bg_mlbpark {
    background-color: #fe5e00!important;
}



.h5, h5 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.first_title {
    font-size: 10pt;
    margin-bottom: 5px;
}

first_title{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    text-align: left;
}
.title{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 500px;
    text-align: left;
}

.second_date {
    float: left;
    font-size: 8pt;
    color: #ddd;
    min-width: 200px;
    margin-top: 5px;
}

.second_etc {
    float: right;
    font-size: 8pt;
    margin-top: 5px;
}

.second_etc .hit {
    margin: 0 10px 0 0;
    float: left;
}

.second_etc .nick {
    margin: 0 5px 0 0;
    display: inline-block;
    float: right;
    width: 100px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#data_table{
    width: 1000px;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
}

a{
    text-decoration-line: none;
    color: #337ab7;
    background-color: transparent;
    cursor: pointer;
}