<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TSI</title>

    <!-- jQuery CDN 시작 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- jQuery CDN 끝 -->

    <!-- bootstrap 시작 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- bootstrap  끝 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css }" />
</head>
<body>

<div id="wrap">
    <div id="header">
        <div id="header_title_name">
            <img th:src="@{/images/logo.png}" style="width:100%; height:100%"/>
        </div><!--header_title_name-->

        <div id="header_navi_list">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">커뮤니티 (community)</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">커뮤니티 베스트</a></li>
                                    <li><a class="dropdown-item" href="#">커뮤니티 이슈태그</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div><!--header_navi_list-->
    </div><!--header-->

    <div id="topNbest">
       <div id="tsiTagTopFive">
           <br>
           <div id="tsiTagTopFive2">
              <font color="#337AB7" size="3px">오늘의 이슈태그 top5</font>
              <div class="hr_dash"></div>
           </div><!--tsiTagTopFive2-->
       </div> <!--tsiTagTopFive-->

       <div id="commBest">
           <br>
           <div id="commBest2">
              <font color="#337AB7" size="3px">커뮤니티 베스트</font>
              <div class="hr_dash"></div>
               <table id="commBestTable">
                   <tr>
                       <td class="rank_bg s_bg_best1">1</td>
                       <td>베스트 1위</td>
                   </tr>
               </table>


           </div><!--commBest2-->
       </div><!--commBest-->
    </div><!--topNbest-->




</div><!--wrap-->

</body>
</html>