<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TSI</title>

    <!-- jQuery CDN 시작 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- jQuery CDN 끝 -->

    <!-- bootstrap 시작 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- bootstrap  끝 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css }" />
</head>
<body>

<div id="wrap">
    <div id="header">
        <div id="header_title_name">
            <img th:src="@{/images/logo.png}" style="width:100%; height:100%"/>
        </div><!--header_title_name-->

        <div id="header_navi_list">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">커뮤니티 (community)</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">커뮤니티 베스트</a></li>
                                    <li><a class="dropdown-item" href="#">커뮤니티 이슈태그</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div><!--header_navi_list-->
    </div><!--header-->

    <div id="topNbest">
       <div id="tsiTagTopFive">
           <br>
           <div id="tsiTagTopFive2">
              <font color="#337AB7" size="3px">오늘의 이슈태그 top5</font>
              <div class="hr_dash"></div>



                 <div id="tsiTagTopFive-tabsLeft1">
                 </div>

                 <div id="tsiTagTopFive-tabsLeft2">
                 </div>



                   <div id="tsiTagTopFive-tabsRight1">
                   </div>

                   <div id="tsiTagTopFive-tabsRight2">
                   </div>


               <table id="tsiTagTopFiveTable">
                   <tr>
                       <td></td>
                   </tr>



               </table>

           </div><!--tsiTagTopFive2-->
       </div> <!--tsiTagTopFive-->




       <div id="commBest">
           <br>
           <div id="commBest2">
              <font color="#337AB7" size="3px">커뮤니티 베스트</font>
              <div class="hr_dash"></div>
               <table id="commBestTable">
                   <tr>
                       <td>
                           <span style='width: 30px; padding: 2px; vertical-align: middle;' class="label label-danger">1</span></td>

                       <td style='padding: 2px; vertical-align: middle;'>
                           <a class="btn btn-outline-danger"
                               style='margin-bottom: 0px;'>1빨강</a></td>
                   </tr>

                   <tr>
                       <td style='width: 30px; padding: 2px; vertical-align: middle;'>
                           <span class="label label-danger">2</span></td>

                       <td style='padding: 2px; vertical-align: middle;'>
                           <a class="btn btn-outline-warning"
                              style='margin-bottom: 0px;'>2노랑</a></td>
                   </tr>

                   <tr>
                       <td style='width: 30px; padding: 2px; vertical-align: middle;'>
                           <span class="label label-danger">3</span></td>

                       <td style='padding: 2px; vertical-align: middle;'>
                           <a class="btn btn-outline-primary"
                              style='margin-bottom: 0px;'>3파랑</a></td>
                   </tr>

                   <tr>
                       <td style='width: 30px; padding: 2px; vertical-align: middle;'>
                           <span class="label label-danger">4</span></td>

                       <td style='padding: 2px; vertical-align: middle;'>
                           <a class="btn btn-outline-success"
                              style='margin-bottom: 0px;'>4초록</a></td>
                   </tr>

                   <tr>
                       <td style='width: 30px; padding: 2px; vertical-align: middle;'>
                           <span class="label label-danger">5</span></td>

                       <td style='padding: 2px; vertical-align: middle;'>
                           <a class="btn btn-outline-success"
                              style='margin-bottom: 0px;'>5초록</a></td>
                   </tr>

                   <tr>
                       <td style='width: 30px; padding: 2px; vertical-align: middle;'>
                           <span class="label label-danger">6</span></td>

                       <td style='padding: 2px; vertical-align: middle;'>
                           <a class="btn btn-outline-success"
                              style='margin-bottom: 0px;'>6초록</a></td>
                   </tr>

                   <tr>
                       <td style='width: 30px; padding: 2px; vertical-align: middle;'>
                           <span class="label label-danger">7</span></td>

                       <td style='padding: 2px; vertical-align: middle;'>
                           <a class="btn btn-outline-success"
                              style='margin-bottom: 0px;'>7초록</a></td>
                   </tr>

                   <tr>
                       <td style='width: 30px; padding: 2px; vertical-align: middle;'>
                           <span class="label label-danger">8</span></td>

                       <td style='padding: 2px; vertical-align: middle;'>
                           <a class="btn btn-outline-success"
                              style='margin-bottom: 0px;'>8초록</a></td>
                   </tr>

                   <tr>
                       <td style='width: 30px; padding: 2px; vertical-align: middle;'>
                           <span class="label label-danger">9</span></td>

                       <td style='padding: 2px; vertical-align: middle;'>
                           <a class="btn btn-outline-success"
                              style='margin-bottom: 0px;'>9초록</a></td>
                   </tr>

                   <tr>
                       <td style='width: 30px; padding: 2px; vertical-align: middle;'>
                           <span class="label label-danger">10</span></td>

                       <td style='padding: 2px; vertical-align: middle;'>
                           <a class="btn btn-outline-success"
                              style='margin-bottom: 0px;'>10초록</a></td>
                   </tr>

                   <tr>
                       <td colspan="4">
                           <a class="btn btn-outline-primary"
                              style='padding: 2px; vertical-align: middle;'>▼ 커뮤니티 더보기</a></td>
                   </tr>

                  <!-- <tbody>

                   <tr>
                       <td
                               style='width: 30px; padding: 2px; vertical-align: middle;'><span
                               class="label label-danger">1</span></td>
                       <td style='padding: 2px; vertical-align: middle;'><a
                               class="btn btn-danger btn-xs btn-outline btn-block"
                               style='margin-bottom: 0px;'
                               target='_self'
                               onclick="gtag('event', 'Home Community Tag', {  'event_category': 'Tag', 'event_label': 'all 24 아이폰' });"
                               href='https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EC%95%84%EC%9D%B4%ED%8F%B0'>아이폰</a></td>
                   </tr>

                   <tr>
                       <td
                               style='width: 30px; padding: 2px; vertical-align: middle;'><span
                               class="label label-warning">2</span></td>
                       <td style='padding: 2px; vertical-align: middle;'><a
                               class="btn btn-warning btn-xs btn-outline btn-block"
                               style='margin-bottom: 0px;'
                               target='_self'
                               onclick="gtag('event', 'Home Community Tag', {  'event_category': 'Tag', 'event_label': 'all 24 한국' });"
                               href='https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%ED%95%9C%EA%B5%AD'>한국</a></td>
                       <td style='width: 100px'><span
                               class="label label-warning">Rate : 1.24%</span></td>
                       <td style='width:30px'><span onclick="funcSharePage('https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%ED%95%9C%EA%B5%AD','이슈랭킹 2위 [한국] 관련 커뮤니티 게시글 모음');"><i class="fas fa-share-square text-warning"></i></span></td>
                   </tr>

                   <tr>
                       <td
                               style='width: 30px; padding: 2px; vertical-align: middle;'><span
                               class="label label-success">3</span></td>
                       <td style='padding: 2px; vertical-align: middle;'><a
                               class="btn btn-success btn-xs btn-outline btn-block"
                               style='margin-bottom: 0px;'
                               target='_self'
                               onclick="gtag('event', 'Home Community Tag', {  'event_category': 'Tag', 'event_label': 'all 24 김행' });"
                               href='https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EA%B9%80%ED%96%89'>김행</a></td>
                       <td style='width: 100px'><span
                               class="label label-success">Rate : 1.22%</span></td>
                       <td style='width:30px'><span onclick="funcSharePage('https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EA%B9%80%ED%96%89','이슈랭킹 3위 [김행] 관련 커뮤니티 게시글 모음');"><i class="fas fa-share-square text-success"></i></span></td>
                   </tr>

                   <tr>
                       <td
                               style='width: 30px; padding: 2px; vertical-align: middle;'><span
                               class="label label-primary">4</span></td>
                       <td style='padding: 2px; vertical-align: middle;'><a
                               class="btn btn-primary btn-xs btn-outline btn-block"
                               style='margin-bottom: 0px;'
                               target='_self'
                               onclick="gtag('event', 'Home Community Tag', {  'event_category': 'Tag', 'event_label': 'all 24 중국' });"
                               href='https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EC%A4%91%EA%B5%AD'>중국</a></td>
                       <td style='width: 100px'><span
                               class="label label-primary">Rate : 1.08%</span></td>
                       <td style='width:30px'><span onclick="funcSharePage('https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EC%A4%91%EA%B5%AD','이슈랭킹 4위 [중국] 관련 커뮤니티 게시글 모음');"><i class="fas fa-share-square text-primary"></i></span></td>
                   </tr>

                   <tr>
                       <td
                               style='width: 30px; padding: 2px; vertical-align: middle;'><span
                               class="label label-primary">5</span></td>
                       <td style='padding: 2px; vertical-align: middle;'><a
                               class="btn btn-primary btn-xs btn-outline btn-block"
                               style='margin-bottom: 0px;'
                               target='_self'
                               onclick="gtag('event', 'Home Community Tag', {  'event_category': 'Tag', 'event_label': 'all 24 일본' });"
                               href='https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EC%9D%BC%EB%B3%B8'>일본</a></td>
                       <td style='width: 100px'><span
                               class="label label-primary">Rate : 0.9%</span></td>
                       <td style='width:30px'><span onclick="funcSharePage('https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EC%9D%BC%EB%B3%B8','이슈랭킹 5위 [일본] 관련 커뮤니티 게시글 모음');"><i class="fas fa-share-square text-primary"></i></span></td>
                   </tr>

                   <tr>
                       <td
                               style='width: 30px; padding: 2px; vertical-align: middle;'><span
                               class="label label-primary">6</span></td>
                       <td style='padding: 2px; vertical-align: middle;'><a
                               class="btn btn-primary btn-xs btn-outline btn-block"
                               style='margin-bottom: 0px;'
                               target='_self'
                               onclick="gtag('event', 'Home Community Tag', {  'event_category': 'Tag', 'event_label': 'all 24 쿠팡' });"
                               href='https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EC%BF%A0%ED%8C%A1'>쿠팡</a></td>
                       <td style='width: 100px'><span
                               class="label label-primary">Rate : 0.76%</span></td>
                       <td style='width:30px'><span onclick="funcSharePage('https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EC%BF%A0%ED%8C%A1','이슈랭킹 6위 [쿠팡] 관련 커뮤니티 게시글 모음');"><i class="fas fa-share-square text-primary"></i></span></td>
                   </tr>

                   <tr>
                       <td
                               style='width: 30px; padding: 2px; vertical-align: middle;'><span
                               class="label label-primary">7</span></td>
                       <td style='padding: 2px; vertical-align: middle;'><a
                               class="btn btn-primary btn-xs btn-outline btn-block"
                               style='margin-bottom: 0px;'
                               target='_self'
                               onclick="gtag('event', 'Home Community Tag', {  'event_category': 'Tag', 'event_label': 'all 24 버튜버' });"
                               href='https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EB%B2%84%ED%8A%9C%EB%B2%84'>버튜버</a></td>
                       <td style='width: 100px'><span
                               class="label label-primary">Rate : 0.58%</span></td>
                       <td style='width:30px'><span onclick="funcSharePage('https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EB%B2%84%ED%8A%9C%EB%B2%84','이슈랭킹 7위 [버튜버] 관련 커뮤니티 게시글 모음');"><i class="fas fa-share-square text-primary"></i></span></td>
                   </tr>

                   <tr>
                       <td
                               style='width: 30px; padding: 2px; vertical-align: middle;'><span
                               class="label label-primary">8</span></td>
                       <td style='padding: 2px; vertical-align: middle;'><a
                               class="btn btn-primary btn-xs btn-outline btn-block"
                               style='margin-bottom: 0px;'
                               target='_self'
                               onclick="gtag('event', 'Home Community Tag', {  'event_category': 'Tag', 'event_label': 'all 24 청문회' });"
                               href='https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EC%B2%AD%EB%AC%B8%ED%9A%8C'>청문회</a></td>
                       <td style='width: 100px'><span
                               class="label label-primary">Rate : 0.56%</span></td>
                       <td style='width:30px'><span onclick="funcSharePage('https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EC%B2%AD%EB%AC%B8%ED%9A%8C','이슈랭킹 8위 [청문회] 관련 커뮤니티 게시글 모음');"><i class="fas fa-share-square text-primary"></i></span></td>
                   </tr>

                   <tr>
                       <td
                               style='width: 30px; padding: 2px; vertical-align: middle;'><span
                               class="label label-primary">9</span></td>
                       <td style='padding: 2px; vertical-align: middle;'><a
                               class="btn btn-primary btn-xs btn-outline btn-block"
                               style='margin-bottom: 0px;'
                               target='_self'
                               onclick="gtag('event', 'Home Community Tag', {  'event_category': 'Tag', 'event_label': 'all 24 미국' });"
                               href='https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EB%AF%B8%EA%B5%AD'>미국</a></td>
                       <td style='width: 100px'><span
                               class="label label-primary">Rate : 0.55%</span></td>
                       <td style='width:30px'><span onclick="funcSharePage('https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EB%AF%B8%EA%B5%AD','이슈랭킹 9위 [미국] 관련 커뮤니티 게시글 모음');"><i class="fas fa-share-square text-primary"></i></span></td>
                   </tr>

                   <tr>
                       <td
                               style='width: 30px; padding: 2px; vertical-align: middle;'><span
                               class="label label-primary">10</span></td>
                       <td style='padding: 2px; vertical-align: middle;'><a
                               class="btn btn-primary btn-xs btn-outline btn-block"
                               style='margin-bottom: 0px;'
                               target='_self'
                               onclick="gtag('event', 'Home Community Tag', {  'event_category': 'Tag', 'event_label': 'all 24 블루아카' });"
                               href='https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EB%B8%94%EB%A3%A8%EC%95%84%EC%B9%B4'>블루아카</a></td>
                       <td style='width: 100px'><span
                               class="label label-primary">Rate : 0.51%</span></td>
                       <td style='width:30px'><span onclick="funcSharePage('https://www.issuelink.co.kr/community/listview/all/24/adj/_self/blank/%EB%B8%94%EB%A3%A8%EC%95%84%EC%B9%B4','이슈랭킹 10위 [블루아카] 관련 커뮤니티 게시글 모음');"><i class="fas fa-share-square text-primary"></i></span></td>
                   </tr>

                   </tbody>
                   <tfoot>
                   <tr>
                       <td colspan="4"><a
                               class="btn btn-success btn-xs btn-block btn-outline"
                               target='_self'
                               href='https://www.issuelink.co.kr/community/tag/all/24/_self'><i
                               class="fas fa-caret-square-down"></i> 커뮤니티 태그 더보기</a></td>
                   </tr>

                   </tfoot>-->
               </table>


           </div><!--commBest2-->
       </div><!--commBest-->
    </div><!--topNbest-->




</div><!--wrap-->

</body>
</html>